@model TrackItApp.Models.ChangePasswordViewModel

<h2>Change Password</h2>

<form method="post">
    <div>
        <label>Old Password:</label><br />
        <input type="password" name="OldPassword" required />
    </div>
    <div>
        <label>New Password:</label><br />
        <input type="password" name="NewPassword" required />
    </div>
    <div>
        <label>Confirm New Password:</label><br />
        <input type="password" name="ConfirmPassword" required />
    </div>
    <br />
    <button type="submit">Update Password</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}
@if (ViewBag.Message != null)
{
    <p style="color:green">@ViewBag.Message</p>
}
